<% provide(:title, 'About') %>
<h1>About Us</h1>
<p>
	Money Garden is a revolutionary money management app designed to help you grow your money. Find budgeting tools, retirement planning help, and share goals with your friends!
</p>
