<div class="center hero-unit">
	<h1>Money Garden</h1>
	<h2>
		This is the home page for Money Garden - Grow Your Money.
	</h2>

	<h3>
		THIS PAGE IS CURRENTLY UNDER CONSTRUCTION
	</h3>

	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>