<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>			
			<h1>
				<%= gravatar_for @user %>
				Welcome, <%= @user.name %>
			</h1>
			<h2>Net worth: $116,513.70</h2>
		</section>
		<%= @user.email %>
	</aside>
</div>