<footer class="footer">
	<small>
		Want an image? Get your <a href="http://gravatar.com">Gravatar!</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
	</nav>
</footer>